@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root{
    --orange: #ffa500
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none; border: none;
    text-decoration: none;
    transition: all 0.3s liniear;
}

*::selection{
    background: var(--orange);
    color: #fff;
}

html{
    font-size: 62,5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    padding: 2.5rem 0;
}

.heading span{
    font-size: 3.5rem;
    background: rgba(255, 165, 0, .2);
    color: var(--orange);
    border-radius: .5rem;
    padding: .2rem 1rem;
}

.heading span.space{
    background: none;
}

header {
display: inline;
}

nav {
box-shadow: 0 0 5px black;
background-color: black;
display: flex;
justify-content: space-between;
align-items: center;
position: sticky;
top: 0;
padding: 10px 20px;
}

.logo {
width: 100px;
}

nav ul {
padding-right: 10px;
list-style: none;
display: flex;
gap: 20px;
}

nav ul li a {
color: white;
text-decoration: none;
font-size: 18px;
}

nav ul li a:hover {
color: #f0cd06;
font-weight: bold;
}

.menu-icon{
width: 30px;
cursor: pointer;
margin-left: 40px;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}

.home .content{
    text-align: center;
}

.home .content h3{
    font-size: 4.5rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .1);
}

.home .content p{
    font-size: 2.5rem;
    color: #fff;
    padding: 5rem 0;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    background: var(--orange); /*perlu di ubah*/
    color: #fff;
    padding: .8rem 3rem;
    border: .2rem solid var(--orange);
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: rgba(255, 165, 0, .2);
    color: var(--orange);
}

.submit-btn{
    width: 100%;
    text-align: right;
}

.home .video-container video{
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home .controls{
    padding: 1rem;
    border-radius: 5rem;
    background: rgba(0, 0, 0, .7);
    margin-top: 7rem;
}

.home .controls .vid-btn{
    height: 2rem;
    width: 2rem;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: 0 .5rem;
}

.home .controls .vid-btn .active{
    background: var(--orange);
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid #FFF;
    background: #FFC700;
    box-shadow: -22px 28px 7px 15px rgba(0, 0, 0, 0.25);
    padding: 20px;
    gap: 20px;
}

.inputbox{
    width: 45%;
}

.inputbox input{
    width: 100%;
}

.ticket-form{
    background: var(--orange);
    padding: 20px;
    max-width: 600px;
    margin: auto;
    margin-top: 100px;
}

.ticket-column{
    display:flex;
    align-items: center;
    gap: 20px;
    margin: 10px 0px;
}

.ticket-column input{
    width: 100%;
    height: 25px;
    border-radius: 2px;
}

.column-check-ticket{
    border-radius: 10px;
    background: rgba(255, 199, 0, 0.67);
    box-shadow: -10px 10px 5px 14px rgba(0, 0, 0, 0.25);
    padding: 20px;
    max-width: 600px;
    margin: auto;
    margin-top: 120px;
}

.box-title{
    width: 560px;
    height: 435x;
    flex-shrink: 0; 
    border-radius: 2px;
    background: #FFC700;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
}

.box-title h3{
    color: #FFF;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}


/* media queries */

@media(max-width: 1200px){

    html{
        font-size: 55%;
    }
}

@media(max-width: 991px){

    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }
}

@media(max-width: 768px){

    #menu-bar{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #333;
        border-top: .1rem solid rgba(255, 255, 255, .2);
        padding: 1rem 2rem;
    }

    header .navbar li a{
        display: block;
        border-radius: .5rem;
        padding: 1.5rem;
        margin: 1.5rem 0;
        background: #222;

    }
}

@media(max-width: 450px){

    html{
        font-size: 50%;
    }

    .heading span{
        font-size: 2.5rem;
    }
}